/* Font Vars */
@main-font: 'Open Sans', sans-serif;

/* Color Vars */
@header-bg: ;
@splash-bg: ;
@sections-bg: ;
@three-column-bg: ;
@footer-bg: ;

/* Dimension Vars */
@header-width: ;
@header-height: ;
@splash-width: ;
@splash-height: ;
@sections-width: ;
@sections-height: ;
@three-column-width: ;
@three-column-height: ;
@footer-width: ;
@footer-height: ;

/* Mixins */


/* Reset all margins & paddings */
* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: @main-font;
  font-size: 100%;
  box-sizing: border-box;
}
